<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="refresh" content="15">.
  <title>Order Display</title>
  <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body style="padding: 0% 5%;">
  <div class="container">
    <h2>DATA DETAILS</h2>

    <!-- foreach starts-->
    <% form.forEach(function(form){ %>
      <%if (form) {%>
    <div class="row" id=<%=form._id%>>
      <div class="col-md-6">
        
        <table class="table table-hover table-striped" >
          <tr>
            <th class="thead-dark">ID</th>
            <td><%= form._id %></td>
          </tr>
          <tr>
            <th class="thead-dark">Date</th>
            <td><%= form.date %></td>
          </tr>
          <tr>
            <th class="thead-dark">Voltage 1</th>
            <td><%= form.v1 %></td>
          </tr>

          <%if (form.size=="Other"){%>
            <tr>
              <th class="thead-dark">Voltage 2</th>
              <td><%= form.v2 %></td>
            </tr>
          <%} else{%>
          <tr>
            <th class="thead-dark">Voltage 3</th>
            <td><%= form.v3 %></td>
          </tr>
          <%}%>
          
          
          <tr>
            <th class="thead-dark">Current 1</th>
            <td><%= form.i1 %></td>
          </tr>
          <tr>
            <th class="thead-dark">Current 2</th>
            <td><%= form.i2 %></td>
          </tr>
          <tr>
            <th class="thead-dark">Current 3</th>
            <td><%= form.i3 %></td>
          </tr>
        </table>
      </div>
      <div class="col-md-6">
       
      </div>
    </div>
    <hr>
  <%}%>
  <% }) %>
</div>
<!--foreach ends-->
</body>

</html>