<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="refresh" content="15">.
  <title>Order Display</title>
  <meta name="viewport" content="width = device-width, initial-scale = 1.0">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body style="padding: 0% 5%;">
  <div class="container">
    <h2>DATA DETAILS</h2>
    <div class="row">
      <div style="display: flex;">
        <form action="/display/save" method="post">
          <input class="btn btn-primary" type="submit" name="Save" value="Save" />
        </form>
        </div>
      <div style="margin-left: 1%;">
        <input class="form-control p-1 bg-light shadow-sm mb-4" id="inputFilter" type="search" placeholder="Search.." />
        </div>
        <table class="table table-hover table-striped" id="customerTable">
          <thead>
          <tr>
            <th class="thead-dark">Machine</th>
            <th class="thead-dark">Voltage 1</th>
            <th class="thead-dark">Voltage 2</th>
            <th class="thead-dark">Voltage 3</th>
            <th class="thead-dark">Current 1</th>
            <th class="thead-dark">Current 2</th>
            <th class="thead-dark">Current 3</th>
          </tr>
        </thead>
        <tbody>
          <!-- foreach starts-->
          <% for (var i = 0; i < form.length; i++) { %>
          <tr>
            <td><%= form[i].topic %></td>
            <td><%= form[i].v1 %> V</td>
            <td><%= form[i].v2 %> V</td>
            <td><%= form[i].v3 %> V</td>
            <td><%= form[i].i1 %> A</td>
            <td><%= form[i].i2 %> A</td>
            <td><%= form[i].i3 %> A</td>
          </tr>
          <% } %>
        </tbody>
          <tfoot>
           
          </tfoot>
        </table>
    </div>
    <div style="display: flex;">
      <% if (pages > 0) { %>
        <ul class="pagination">
          <% if (current == 1) { %>
          <li class="page-item disabled"><a>First&nbsp;</a></li>
          <% } else { %>
          <li class="page-item"><a class="page-link" href="/display/1">First&nbsp;</a></li>
          <% } %>
          <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
          <% if (i !== 1) { %>
          <li class="page-item disabled"><a class="page-link">&nbsp;...</a></li>
          <% } %>
          <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
          <% if (i == current) { %>
          <li class="page-item active"><a class="page-link">&nbsp;<%= i %></a></li>
          <% } else { %>
          <li class="page-item"><a class="page-link" href="/display/<%= i %>">&nbsp;<%= i %>&nbsp;</a></li>
          <% } %>
          <% if (i == Number(current) + 4 && i < pages) { %>
          <li class="page-item disabled"><a class="page-link">&nbsp;...&nbsp;</a></li>
          <% } %>
          <% } %>
          <% if (current == pages) { %>
          <li class="page-item disabled"><a class="page-link">&nbsp;Last</a></li>
          <% } else { %>
          <li class="page-item"><a class="page-link" href="/display/<%= pages %>">Last</a></li>
          <% } %>
        </ul>
        <% } %>
      </div>
      
  </div>
  <!--foreach ends-->
  <script>
    $("#inputFilter").on("keyup", function() {
      var inputValue = $(this).val().toLowerCase();
      $("#customerTable tr").filter(function() {
        $(this).toggle($(this).text().indexOf(inputValue) > -1)
      });
  });
  </script>
</body>

</html>